@import 'tailwindcss';

@theme {
  --color-violet-50: #fbf3ff;
  --color-violet-100: #f4e3ff;
  --color-violet-200: #ebcdff;
  --color-violet-300: #dca5ff;
  --color-violet-400: #c76cff;
  --color-violet-500: #b335ff;
  --color-violet-600: #a00fff;
  --color-violet-700: #9501ff;
  --color-violet-800: #7706c3;
  --color-violet-900: #62079c;
  --color-violet-950: #430076;
  --color-violet-980: #2c0d45;
  --color-violet-990: #21003b;

  --color-primary-50: var(--color-violet-50);
  --color-primary-100: var(--color-violet-100);
  --color-primary-200: var(--color-violet-200);
  --color-primary-300: var(--color-violet-300);
  --color-primary-400: var(--color-violet-400);
  --color-primary-500: var(--color-violet-500);
  --color-primary-600: var(--color-violet-600);
  --color-primary-700: var(--color-violet-700);
  --color-primary-800: var(--color-violet-800);
  --color-primary-900: var(--color-violet-900);
  --color-primary-950: var(--color-violet-950);
  --color-primary-980: var(--color-violet-980);
  --color-primary-990: var(--color-violet-990);

  --font-sans: Inter, sans-serif;

  --transition-button: background-color, border-color, color, opacity, outline;
}
